<div class="wires">
    <div class="logo">
      <img src="../assets/img/Group 2.png" alt="logo">
    </div>
    <h2 class="title1">create amessage to share with your friends</h2>
    <h3 class="title2">Create your first message following the first steps</h3>
  <div class="wires-content2">
     <img src="../assets/img/Fashion blogging-pana 3.png" alt="">
     <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem earum suscipit laboriosam labore. Ratione, repellendus, velit temporibus optio, consequuntur pariatur iste vitae
     </p>
     <img src="../assets/img/Fashion blogging-pana 4.png" alt="">
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa sequi, accusantium exercitationem aspernatur nostrum temporibus maiores distinctio adipisci ducimus veritatis corporis nisi minus pariatur facilis molestiae atque esse. Ullam.</p>
  </div>
  <div class="semicirculo">
  </div>
    <h2 class="title3">create amessage to share with your friends</h2>
    <h3 class="title4">Create your first message following the first steps</h3>
  <div class="wires-content3">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem earum suscipit laboriosam labore. Ratione, repellendus, velit temporibus optio, consequuntur pariatur iste vitae</p>
    <img src="../assets/img/Fashion blogging-pana 3.png" alt="">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente culpa sequi, accusantium exercitationem aspernatur nostrum temporibus maiores distinctio adipisci ducimus veritatis corporis nisi minus pariatur facilis molestiae atque esse. Ullam.</p>
    <img src="../assets/img/Fashion blogging-pana 4.png" alt="">
  </div>
  <div class="semicirculo2"></div>

  <div class="scaner">
    <img src="../assets/icon/pngwing 1.png" alt="">
    <h2 class="scaner-title">Scan to download ios & Android</h2>
  </div>
  <div class="icons">
    <div class="icons-icon"><img src="../assets/icon/ri_app-store-fill.png" alt=""></div>
    <div class="icons-icon"><img src="../assets/icon/Frame 18.png" alt=""></div>
    <div class="icons-icon"><img src="../assets/icon/Vector.png" alt=""></div>
    <div class="icons-icon"><img src="../assets/icon/material-symbols_desktop-windows.png" alt=""></div>
  </div>
  <div class="btn">
    <button (click)="toggleButton()" class="btn-s">Sing Up</button>
    <button [disabled]="btnDisabled" class="btn-s">Login In</button>
  </div>
</div>
<app-login-in  login="begining login">

</app-login-in>


